* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0;
  text-decoration: none;
  color: black;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hand-image-container {
  display: flex;
  flex-direction: column;
  background: none;
  position: absolute;
  top: 0;
  pointer-events: none;

  p {
    padding-left: 8px;
    line-height: 24px;

    span {
      font-size: 20px;
    }
  }
}

.left-hand-container {
  margin-top: 200px;
  padding-left: 8px;
  display: flex;
}

.right-hand-container {
  margin-top: 200px;
  padding-right: 10px;
  display: flex;
}

.right-hand {
  transform: scaleX(-1);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
}

.navigation > ul {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.navigation > ul > li {
  height: 40px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
}

.construction {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  pointer-events: none;
}

.construction > div {
  display: inline-block;
}

/* Pinch circles style start */
.pinch-stop-watch {
  position: fixed;
  left: 50%;
  width: 240px;
  height: 40px;
  transform: translateX(-120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinch-stop-watch > span.pinch-stop-watch-milliseconds {
  width: 20px;
  margin: 0;
}

.pinch-score {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 240px;
  height: 40px;
  transform: translateX(-120px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Pinch circles style end */
