.container {
  width: 100%;
  height: 100%;
}

.icon-arow {
  margin-left: 8px;
  animation-name: arrow-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes arrow-animation {
  from {
    margin-left: 24px;
  }
  to {
    margin-left: 8px;
  }
}

.social-icons {
  position: fixed;
  bottom: 20px;
  left: 20px;

  display: flex;
}

.demonstration-video-link {
  position: fixed;
  bottom: 20px;
  right: 20px;

  animation-name: opacity-changes;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  div {
    line-height: normal;
  }
}

@keyframes opacity-changes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hands-container {
  position: fixed;
  top: 200px;

  background: none;
  pointer-events: none;

  .left-hand-container {
    padding-left: 8px;
    display: flex;
  }

  .right-hand-container {
    margin-top: 60px;
    padding-left: 10px;

    display: flex;

    img {
      transform: scaleX(-1);
    }
  }

  p {
    padding-left: 8px;
    line-height: 24px;

    font-weight: 400;

    span {
      font-weight: 600;
      font-size: 20px;
    }
  }
}
